body {
  margin: 0px;
  padding:0px;
  font-family: 'Poppins', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a{
 text-decoration: none;
 color: #00365B;
}

input:focus{
  outline: none;
}

.mx-1{
  margin-left:1rem;
  margin-right: 1rem;
}

.mx-175{
  margin-left:1rem;
  margin-right: 1.75rem;
}

.mr-05{
  margin-right: 0.5rem;
}

.my-1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.mb-4{
  margin-bottom: 4rem;
}

.my-2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pb-2{
  padding-bottom:2rem;
}

.pb-5{
  padding-bottom:5rem;
}

.py-1{
  padding-top: 1rem;
  padding-bottom:1rem;
}

.py-2{
  padding-top: 2rem;
  padding-bottom:2rem;
}

.px-1{
  padding-left: 1rem;
  padding-right:1rem;
}

.pb-4{
  padding-bottom: 4rem;
}

.font-blue{
  color: #00365B;
}

.font-yellow{
  color: #FC7E00;
}

.font-white{
  color:#ffffff;
}

.terms{
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration-line: underline;
  color: #333333;
}

.navigation{
  background-color: #00365B;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 15px 10px;
  border-radius: 16px;
  align-items: center;
  position: fixed;
  bottom: 0.5rem;
}

.selected{
  border-bottom: 3px solid #ffffff;
  padding-bottom: 9px;
  box-sizing: border-box;
  border-radius: 3px;
}

.padding9{
  padding-bottom: 9px;
}

.back-blue{
  background-color: #00365B;
  height:100vh;
}

.cross-icon{
  color: #ffffff;
  position: relative;
  top: 21px;
  /* left: 12rem; */
  margin: 0 1rem;
}

.edit-div{
  display: flex;
  align-items: center;
}

.user-flex{
  display: flex;
  height:30%;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.name{
  color: rgb(255,255,255,1);
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.5rem 1rem;
}

.email{
  color: rgb(255,255,255,1);
  font-size: 12px;
  margin: 0 0 0.5rem 1rem;
}

.list{
  background-color: #ffffff;
  width:100%;
  height: 100%;
  border-radius: 14px;
}

.list ul{
  display: flex;
  flex-direction: column;
}

.list ul a{
  font-size:0.9rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

.list ul img{
  padding-right: 0.5rem;
  position: relative;
  top: 12px;
}

.nav-icon{
    position: relative;
    top: 28px;
    color: #657789;
    left:1rem;
}

.nav-menu{
  width: 80vw;
  height: 100vh;
  top:0;
  position: fixed;
  left:-100%;
  transition: -850ms;
  background-color: #00365B;
  z-index:1;
  font-family: 'Montserrat', sans-serif;
}

.nav-menu.active{
  left:0;
  transition: 350ms;
}

.overflow{
  position: relative;
  overflow: scroll;
  bottom: 14px;
}

.navigation-bar{
  display: flex;
  justify-content: center;
  /* width:30px; */
}

.loc-text{
  display:flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0rem 3rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;  
  color: #00365B;
}

.loc-icon{
  position: relative;
  top:-4px;
}

.locations{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 3rem;
}

.card{
  position: relative;
  width: 213px;
  height: 195px;
  border-radius: 13px;
  background-color: #ffffff;
}

.card img{
  display: flex;
  justify-content: center;
  margin: 5px auto;
  width: 197px;
  border-radius: 13px;
  height: 119px;
}

.card-text{
  position: relative;
  height: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #6F7789;
  margin: 0.25rem 0rem 0.25rem 0.45rem;
}

.card a{
  position: relative;
  height: 21px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  color: #00365B;
  margin: 0.25rem 0rem 0.25rem 0.45rem;
}

.icon{
  color: #FC7E00;;
  padding-right: 4px;
}

.overlay{
  position: absolute;
  cursor: pointer;
  height: 15px;
  top:12px;
  left:80%;
  padding: 3px 4px 3px 4px;
  background-color: white;
  border-radius: 100%;
  color: #FC7E00;;
}

.overlay2{
  position: absolute;
  cursor: pointer;
  height: 15px;
  top:15px;
  left:83%;
  padding: 3px 4px 3px 4px;
  border-radius: 100%;
  color: white;
  background-color: #FC7E00;
}

.active, 
.loc-hover:hover
{
  color: #FC7E00;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #FC7E00;
}

.text{
  margin: 1.5rem 1rem 0.5rem 1rem;
  display:flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 27px; */
  color: #00365B;
  padding: 0rem;
}

.text a{
  margin: 1.25rem 1rem 0.5rem 1rem;
  font-weight: 500;
  font-size: 14px;
}

/* .slick-slider{
  margin: 3rem;
} */

.slick-slide img{
  padding-top: 5px;
}

.Expert{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expertImage{
  width: 54px;
  height: 54px;
  /* display: block; */
  border-radius: 50% 50%;
}

.Name{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 18px;
  color: #00365B;
}

.center{
  display:flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.welcome-text{
  position:relative;
  top:80px;
  font-style: normal;
  font-size: 1.1rem;
  margin-left:1rem;
  margin-bottom: 1rem;
  color: #00365B;
}

.welcome-text p{
  margin:0px;
  padding:0px;
}

.signinform{
  margin-left:1rem;
  margin-right: 1rem;
  position:relative;
  top:80px;
  max-width: 60rem;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.font-icon{
  position: absolute;
  left:10px;
  top:14px;
  color: #828282;
}

.signinform label{
  display: block;
  font-size: 0.75rem;
  margin-left: 0.75rem;
  margin-top: 0.25rem;
  color: #828282;
}

.signinform input{
  box-sizing: border-box;
  width:100%;
  padding: 0.5rem 0.75rem;
  border:none;
  min-height: 3rem;
  border-radius: 10px;
  background-color: #F3F3F3;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #959595;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border:none;
  min-height: 2.5rem;
  border-radius: 8px;
  background-color: #00365B;
  color:#ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  width:100%;
}

.sign-up-btn{
  border: 1px solid #00365B;
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 36px;
  color: #00365b;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  min-height: 2.5rem;
  font-weight: 900;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.search-box{
  display: flex;
  justify-content: center;
  position: relative;
}

.search{
  position: relative;
  top: -1rem;
  box-sizing: border-box;
  width:75%;
  padding: 0.5rem 1rem;
  border:none;
  min-height: 1.5rem;
  border-radius: 28px;
  background-color: #ffffff;
  /* border: 1px solid #DFDFDF; */
  font-family: 'Poppins', sans-serif;
  box-shadow: 4px 4px 16px rgb(112 112 112 / 10%);
}

.box-shadow{
  box-shadow: 4px 4px 16px rgb(112 112 112 / 10%);
}

.search-icon{
  top: -7px;
  left: -28px;
  color: #828282;
  position: relative;
  cursor: pointer;
}

.center-onboard{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.left-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem 0rem;
}

.left-text p{
  margin: 0.5rem 0;
  color: #00365B;
}

.center-onboard p{
  margin:0.25rem 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.center-onboard a{
  margin:0.25rem 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.btns{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 6rem 0;
  cursor:pointer;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width:47%;
  text-align: center;
  background-color: #E8E8E8;
  border: 1px solid #00365B;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem 0rem 0.3rem 0rem;
  font-family: 'Montserrat', sans-serif;
}

.l-icon{
  background-color:#00365B;
  color: #ffffff;
  padding: 4px 4px;
  font-size: 0.7rem;
  border-radius: 100%;
}

.star{
  background-color:#00365B;
  color: #ffffff;
  padding: 3px 3px;
  font-size: 0.4rem;
  border-radius: 100%;
}

h2{
  width:100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 2rem 0;
  font-size: 0.8rem;
  font-weight: 500;
}

h2 span{
  background: #ffffff;
  padding: 0 10px;;
}

.otp-text{
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color:#00365B;
}

.otp-field{
  width:33px;
  margin-right: 10px;
  margin-bottom: 1rem;
  padding-left: 12px;
  height: 40px;
  border:none;
  min-height: 1.5rem;
  border-radius: 10px;
  background-color: #F3F3F3;
  font-family: 'Poppins', sans-serif;
}

.resend{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #828282;
  cursor: pointer;
}

.display{
  display: none;
}

.image{
  width: 96px;
  height: 96px;
  border-radius: 100%;
}

.camera-icon{
  color:#00365B;
  background-color: #F3F3F3;
  position: relative;
  padding:5px;
  top:31px;
  left:59px;
  font-size: 1rem;
  border-radius: 100%;
}

.required{
  margin:0;
  font-size: 0.8rem;
  color:red;
  margin-left:0.75rem;
}

.dest-backimage{
  position: relative;
  width: 100%;
  height: 50vh;
  top: 0px;
  z-index: -1;
  object-fit: cover;
}

.destination-info{
    z-index: 1;
    position: absolute;
    top: 300px;
    background-color: #ffffff;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dest-name{
  color:#00365B;
  font-size:1rem;
  font-weight:600;
  margin-bottom: 0.5rem;
  cursor:pointer;
}

.dest-area{
  color: #6C7983;
  font-size: 0.8rem;
  margin-top:0;
  margin-bottom: 3rem;
  font-weight: 600;
}

.marker{
  font-size: 1.1rem;
  padding-right: 0.2rem
}

.dest-text{
  font-size: 14px;
  display:flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  font-style: normal;
  font-weight: 500;
}

.dest-p{
  color: #939393;
  font-size: 12px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-weight: 300;
}

.blog-nav{
  display: flex;
}

.blog-area{
  margin-top:0;
  color: #6C7983;
  font-size: 0.7rem;
}

.active-blog{
  color: rgb(44,44,44,1);
  font-weight: 600;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #FC7E00;
}

.d-flex{
  display: flex;
  background-color: #F3F3F3;
  border-radius: 14px;
  padding: 1rem 0.5rem;
}

.blog-image{
  width:85px;
  height: 92px;
  object-fit:cover;
  border-radius: 8px;
}

.blog-p{
  color: #3F3F3F;
  font-size:0.6rem;
  margin-left:0.5rem;
}

.background-blur{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100vw;
  top: -68px;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.blur-font{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 27px;
  color: #FFFFFF;
  margin:0 1rem 0 1rem;
}

/*Influencer Screen*/
.display-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height:30vh;
  width:100vw; */
}

.name-i{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #353535;
  margin: 1rem 0 0.5rem 0;
}

.city{
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  color: #6B6B6B;
  margin: 0 0 1rem 0;
}

.d-flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #885B37;
  border-radius: 100px;
  padding: 0.3rem 0.7rem 0.3rem 0.3rem;
}

.premium-icon{
  background-color: #885B37;
  padding: 5px 5px;
  border-radius: 100%;
  margin-right: 6px;
}

.influencer-stuff{
  background-color: #F3F3F3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top:1rem;
  height: 100%;
  padding-bottom: 120px;
}

.rating-component{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom:1rem;
}

.heading{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #353535;
  margin:0 0.4rem 0 0;
}

.star-icon{
  color: #FC7E00;
  margin: 0 0.4rem 0 0;
  font-size:0.8rem;
  display: flex;
  align-items: center;
}

.reviews{
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;
  margin: 0 0 0 0.5rem;
}

.connect-icons{
  display: flex;
  justify-content: space-around;
  padding: 0.7rem 0 0.5rem 0;
  background-color: #FFFFFF;
  align-items: center;
  border-radius: 100px;
}

.influencer-travel{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin: 1rem 0 1rem 0;
  color: #00365B;
  padding: 0rem;
}

.influencer-travel a {
  font-weight: 500;
  font-size: 14px;
  color: #121212
}

.fixed-bar{
  background: #ffffff;
  position: fixed;
  bottom: 5vh;
  padding: 1rem;
  width: 100%;
  font-size: 16px;
  color: #00365B;
  font-weight: 700;
  display: flex;
  align-items: center;
}

/*Connect Screen*/

.connect{
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  color: #00365B;
  margin-left: 1rem
}

.heading-locs{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.location-comp{
  display: flex;
  background-color: #EFEFEF;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 18px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem
}

.plus{
  /* background-color: #00365B; */
  /* padding: 0.2rem 0.4rem 0.2rem 0.4rem; */
  /* margin-right:0.5rem; */
  border-radius: 100%;
  font-weight: 200;
  color: #FFFFFF;
}

.place{
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #00365B;
}

.wrap-locs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.radio-form{
  display: flex;
  align-items: center;
}

.radio-form label{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  margin: 0.5rem;
}

.radio-form input{
  margin:0.5rem;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 27px;
  color: #000000;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 2px solid #00365B;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #00365B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Description Screen Radio Buttons*/

/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #00365B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark2:after {
  left: 4px;
  top: 4px;
  width: 16px;
  border-radius: 100%;
  height: 16px;
  background-color: #00365B;
}

.desc-text{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #353535;
}

.radio-text{
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 33px;
  display: flex;
  align-items: center; 
  letter-spacing: 0.03em;
  color: #7B7B7B;
}

.add-new{
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #067FD2;
  cursor:pointer;
  display: flex;
  align-items: center;
}

.language-container{
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #5A5A5A;
}

.language-box{
  background: #F6F6F6;
  border-radius: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.image-lang{
  padding: 4px;
  background-color: #00365b;
  border-radius: 100%;
  margin-right: 5px;
}

.textarea{
  width: 100%;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #5A5A5A;
  padding: 0.5rem 0.75rem;
  font-family: 'Poppins';
  min-height:3rem;
}

.price{
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 147px;
  color: #00365B;
  margin: 0;
  position: relative;
  text-align: right;
  width: fit-content;
  height: 10px;
}

.social-handles{
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  width: 100%;
}

.social{
  background-color: #00365B;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.location-box{
  width: fit-content;
  padding: 10px;
  border: 1px solid #00365B;
  box-sizing: border-box;
  border-radius: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #00365B;
  margin:0 0.5rem 1rem 0;
}

.location-box-selected{
  background-color: #00365B;
  width: fit-content;
  padding: 3px 7px;
  border: 1px solid #00365B;
  box-sizing: border-box;
  border-radius: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin:0 0.5rem 1rem 1rem;
}

.location-box-selected a{
  color: #ffffff;
}

.location-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.heading-dest{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.iten-input{
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 10px;
  height: 40px;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #B6B6B6;
  margin-bottom: 2rem;
  font-family: "Poppins";
}

.iten-text{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #5A5A5A;
  margin:0;
}

.location-list{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ffffff;
}

.search2{
  position: relative;
  top: 1rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1.8rem;
  border: none;
  min-height: 2.5rem;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #DFDFDF;
  font-family: 'Poppins', sans-serif;
}

.search-icon2{
  position: relative;
  color: #828282;
  top: -16px;
  left: 8px;
}

.blue-circle{
  width:25px;
  height:25px;
  border-radius: 50%;
  border:3px solid #00365b;
}

.blue-side-border{
  border-left: 3px solid #00365b;
  height:150px;
  position: relative;
  left: 14px;
}

.day{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #00365B;  
  margin-left:16px;
}

.blue-circle2{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #00365B;
}

.form-container{
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 16px;
}

.bottom-blue{
  border-bottom: 3px solid #00365B;
  width: 50px;
}

.image-box{
  width:100%;
  height:85%;
  object-fit: cover;
  border-radius: 8px;
}

.blue-side-border2{
  border-left: 2px dashed #00365B;
  height:fit-content;
  position: relative;
  left: 10px;
}

.itinery-name{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #414141;
}

/*Pop Up*/
.popup-box{
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-inner{
  max-width: 300px;
  z-index: 1;
  position: relative;
  width: 90%;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
}

.close-icon{
  background-color: #ffffff;
  padding: 4px 10px 3px 10px;
  border-radius: 50%;
  color:#00365b;
  margin:1rem;
}

/*Influencer private screen*/
.edit-box{
  float: right;
  position: relative;
  top: -191px;
  align-items: center;
  display: flex;
  margin-right: 0.9rem;
  padding: 4px 8px 4px 15px;
  border-radius: 16px;
  background-color: #F6F6F6;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #00365B;
}

/*Edit Screen*/
.form-heading{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #353535;
  margin-bottom: 1rem;
}

.info-icon{
  border-radius: 50%;
  background-color: #00365b;
  padding: 1px 6px;
  font-size: 0.6rem;
  color: #ffffff;
  height: fit-content;
}

.premium{
  padding: 9px;
  background-color: #885b37;
  border-radius: 50%;
  margin: 1rem;
}

.profile-heading{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #828282;
}

.profile-value{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #B6B6B6;
  width: auto;
  height: 56px;
  background: #FFFFFF;
  border-radius: 8px;
  padding:0px 10px;
}

.location-div{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/*Search*/
.dataResult{
  margin-top: 5px;
  width:100vw;
  height:100vh;
  background-color: #F6F6F6;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar{
  display: none;
}

.chat-name{
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
}

.class-image{
  padding: 12px;
  border-radius: 100%;
  background-color: rgb(242,242,242,2);
}

/*Add Custom Itinerary Screen*/
.details-box{
  background: #013C65;
  border: 1px solid #3B596F;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 8px;
}

.circle{
  background: #D6D6D6;
  width: 17px;
  height: 17px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 50%;
  position: relative;
  left: 8px;
}

.cylinder{
  background: #FFFFFF;
  border-radius: 32px;
  width:40px;
  height:12px;
}

.bg-white{
  background-color: #ffffff;
  width: 93%;
  display: flex;
  justify-content: center;
  padding: 3px;
  border-radius: 16px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table button {
  margin: 0 0.2rem;
}

.comment{
  width: fit-content;
  font-size: 0.7rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  color: #00365B;
}

.chat-input{
  width: 90%;
  box-sizing: border-box;
  /* width: 100%; */
  padding: 0.3rem 0.75rem;
  border: none;
  /* min-height: 3rem; */
  border-radius: 10px;
  background-color: #E8E8E8;
  font-family: 'Poppins', sans-serif;
  margin: 10px 10px 10px 0px;
  color: #303030;
  font-size: 12px;
}

.send-button{
  background-color: #00365B;
  border: none;
  border-radius: 25px;
  /* box-sizing: content-box; */
  padding: 6px 10px 5px 10px;
}

.video-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: -3%;
  background-color: rgb(0,0,0,0.2);
}

.apply{
    position: relative;
    top: -43px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px;
    color: #00365B;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.view{
  position: relative;
  top: -8%;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0 0.5rem 1.2rem;
  font-size:12px;
  color: rgb(255,255,255,1);
}

.settings-image{
  background: #00365B;
  padding: 6px;
  border-radius: 50%;
  height: 15px;
}

@media screen and (max-width:600px){
  .loc-text{
    margin: 0rem 1rem;
    font-size:14px;
  }
}